*{
    padding: 0%;
    margin: auto;
  }
  
  a:hover{
      color: rgb(65, 65, 65);
  }
  
  #divbar,
  ul{
      color: white;
      background-color: #333;
      text-align: center;
  }

  li,
  a{
      display: inline-block;
      padding-top: 10px;
      padding-bottom: 10px;
  }
  
  #ecoinventos{
      border: 0px solid;
      width: 50%;
      margin-left: 8%;
      margin-top: 50px;
      padding-bottom: 400px;
      position: static;
      display: inline-block;
      background-color: rgb(233, 233, 233);
  }
  
  #noticias{
      border: 0px solid;
      width: 30%;
      position: relative;
      padding-bottom: 400px;
      margin-bottom: 50px;
      display: inline-block;
      background-color: rgb(185, 210, 226);
  }
  
  footer{
      color: white;
      background-color: rgb(20, 20, 20);
      padding-top: 2%;
      padding-bottom: 2%;
      text-align: center;
  }